:root {
  --primary-color: #0a5c8f; /* Deep Luxury Blue */
  --secondary-color: #1b9fa7; /* Aquatic Teal */
  --accent1-color: #494b4a; /* Charcoal Gray */
  --accent2-color: #062b3c; /* Dark Navy */
  --accent3-color: #d4a64a; /* Accent Gold */

  --heading-font: "Playfair Display", serif;
  --body-font: "Montserrat", sans-serif;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 1rem 0;
  text-align: center;
  font-family: var(--heading-font);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  background-color: var(--primary-color);
  font-family: var(--heading-font);
  text-align: center;
  margin: 16px 0;
  color: aliceblue;
  padding: 8px;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
  color: ;
}

.socialmedia a {
  text-decoration: none;
}

.hero img {
  height: auto;
  display: block;
  width: 100%;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent3-color);
  color: white;
}

.hero article img {
  float: right;
  width: 125px;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: var(--accent2-color);
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  opacity: 0.7;
}

.hero {
  position: relative;
}

nav a {
  color: #fff;
}
