:root {
  --primary-color: #0a5c8f; /* Deep Luxury Blue */
  --secondary-color: #1b9fa7; /* Aquatic Teal */
  --accent1-color: #d4a64a; /* Luxury Gold */
  --accent2-color: #062b3c; /* Dark Navy */

  --heading-font: "Playfair Display", serif;
  --body-font: "Montserrat", sans-serif;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 1rem 0;
  text-align: center;
  font-family: var(--heading-font);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

/* header, */
/* footer, */
main {
  max-width: 840px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-family: var(--heading-font);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero img {
  height: auto;
  display: block;
  width: 100%;
}

.h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: #ffffff;
}

.hero article img {
  float: right;
  width: 125px;
}

nav a {
  color: #fff;
}
