nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  padding: 0;
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid #000;
  padding: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #333;
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
