* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5rem;
}

main {
  width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 10px;
}

h2 {
  border-bottom: 1px solid #222;
  font-weight: bold;
  padding-bottom: 3px;
}

p,
ul {
  margin: 10px 0;
  line-height: 1.7;
  font-weight: medium;
  padding: 5px 10px;
}

img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0 / 10%);
  border-radius: 5px;
  background-color: #ddd;
  font-size: 0.9rem;
}

ul {
  margin: 10px 20px;
}

footer {
  font-size: 0.9rem;
}
