header,
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5rem;
}

main {
  width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 10px;
}

h2 {
  border-bottom: 1px solid #222;
}

img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

section {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0 / 10%);
  border-radius: 5px;
  background-color: #ddd;
  font-size: 0.9rem;
}

footer {
  font-size: 0.9rem;
}
